body {
    background-color: #f2eee3;
    margin: 0%;
    align-content: center;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: orange;
    font-weight: bold;
}